.mask {
    overflow: hidden;
}

#CellphoneMask {
    overflow: hidden;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.46);
}

#MaskSquare {
    overflow: hidden;
}

#MaskRounded {
    overflow: hidden;
    border-radius: 50px;
}