.mask {
    overflow: hidden;
}

#CellphoneMask {
    overflow: hidden;
    background-image: url(&quot;project://database/Assets/UI/Sprites/cellphone_reverse_mask.png?fileID=21300000&amp;guid=074f1d651f4839bf0b6b73f08a45fd9f&amp;type=3#cellphone_reverse_mask&quot;);
}

#MaskSquare {
    overflow: hidden;
}

#MaskRounded {
    overflow: hidden;
    border-radius: 50px;
}