.count {
    -unity-font: url(&quot;project://database/Assets/UI/Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf?fileID=12800000&amp;guid=0c5e7cc632d0182e0b693cbed89e2788&amp;type=3#Montserrat-Italic-VariableFont_wght&quot;);
    font-size: 28px;
    -unity-text-outline-width: 1px;
    -unity-text-outline-color: rgba(255, 0, 0, 0.97);
}
